<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Example</title>
    <style>
        body {
            background-color: #000; 
            color: #00c3ff; 
        }
        pre {
            font-family: 'Courier New', Courier, monospace;
            white-space: pre-wrap; 
            text-align: center; 
        }
    </style>
</head>
<body>

    <pre>
        ______   ______     ______     ______   ______   ______     __         __     ______                                                                                                  
        /\  == \ /\  __ \   /\  == \   /\__  _\ /\  ___\ /\  __ \   /\ \       /\ \   /\  __ \                                                                                                 
        \ \  _-/ \ \ \/\ \  \ \  __<   \/_/\ \/ \ \  __\ \ \ \/\ \  \ \ \____  \ \ \  \ \ \/\ \                                                                                                
         \ \_\    \ \_____\  \ \_\ \_\    \ \_\  \ \_\    \ \_____\  \ \_____\  \ \_\  \ \_____\                                                                                               
          \/_/     \/_____/   \/_/ /_/     \/_/   \/_/     \/_____/   \/_____/   \/_/   \/_____/                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
         ______     __  __        ______     ______     ______   __  __     ______     ______     __            __    __     ______     __   __     ______     ______     ______     ______    
        /\  == \   /\ \_\ \      /\  == \   /\  __ \   /\  == \ /\ \_\ \   /\  __ \   /\  ___\   /\ \          /\ "-./  \   /\  ___\   /\ "-.\ \   /\  ___\   /\___  \   /\  ___\   /\  ___\   
        \ \  __<   \ \____ \     \ \  __<   \ \  __ \  \ \  _-/ \ \  __ \  \ \  __ \  \ \  __\   \ \ \____     \ \ \-./\ \  \ \  __\   \ \ \-.  \  \ \  __\   \/_/  /__  \ \  __\   \ \___  \  
         \ \_____\  \/\_____\     \ \_\ \_\  \ \_\ \_\  \ \_\    \ \_\ \_\  \ \_\ \_\  \ \_____\  \ \_____\     \ \_\ \ \_\  \ \_____\  \ \_\\"\_\  \ \_____\   /\_____\  \ \_____\  \/\_____\ 
          \/_____/   \/_____/      \/_/ /_/   \/_/\/_/   \/_/     \/_/\/_/   \/_/\/_/   \/_____/   \/_____/      \/_/  \/_/   \/_____/   \/_/ \/_/   \/_____/   \/_____/   \/_____/   \/_____/ 
          
    </pre>

</body>
</head>
<body>
    <h1>Welcome to my Exercices Site!</h1>
    <p>Choose one of the projects or exercices:</p>
    <button onclick="window.location.href='{% url 'band_name' %}'">Band Name Generator</button>
    <button onclick="window.location.href='{% url 'tip_calculator' %}'">Tip Calculator</button>
    <button onclick="window.location.href='{% url 'even_odd' %}'">Even Odd Check</button>
    <button onclick="window.location.href='{% url 'r_p_s' %}'">Rock, Paper, Scissors</button>
</body>
</html>
