<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        
 ________  ________  ________  _________  ________  ________ ___       ___  ________                                                                                            
|\   __  \|\   __  \|\   __  \|\___   ___\\   __  \|\  _____\\  \     |\  \|\   __  \                                                                                           
\ \  \|\  \ \  \|\  \ \  \|\  \|___ \  \_\ \  \|\  \ \  \__/\ \  \    \ \  \ \  \|\  \                                                                                          
 \ \   ____\ \  \\\  \ \   _  _\   \ \  \ \ \  \\\  \ \   __\\ \  \    \ \  \ \  \\\  \                                                                                         
  \ \  \___|\ \  \\\  \ \  \\  \|   \ \  \ \ \  \\\  \ \  \_| \ \  \____\ \  \ \  \\\  \                                                                                        
   \ \__\    \ \_______\ \__\\ _\    \ \__\ \ \_______\ \__\   \ \_______\ \__\ \_______\                                                                                       
    \|__|     \|_______|\|__|\|__|    \|__|  \|_______|\|__|    \|_______|\|__|\|_______|                                                                                       
                                                                                                                                                                                
                                                                                                                                                                                
                                                                                                                                                                                                                                                                  
                                                                                                                                                                                
                                                                                                                                                                                
 ________      ___    ___             ________  ________  ________  ___  ___  ________          _____ ______   _______   ________   _______   ________  _______   ________      
|\   __  \    |\  \  /  /|___        |\   __  \|\   __  \|\   __  \|\  \|\  \|\   __  \        |\   _ \  _   \|\  ___ \ |\   ___  \|\  ___ \ |\_____  \|\  ___ \ |\   ____\     
\ \  \|\ /_   \ \  \/  / /\__\       \ \  \|\  \ \  \|\  \ \  \|\  \ \  \\\  \ \  \|\  \       \ \  \\\__\ \  \ \   __/|\ \  \\ \  \ \   __/| \|___/  /\ \   __/|\ \  \___|_    
 \ \   __  \   \ \    / /\|__|        \ \   _  _\ \   __  \ \   ____\ \   __  \ \   __  \       \ \  \\|__| \  \ \  \_|/_\ \  \\ \  \ \  \_|/__   /  / /\ \  \_|/_\ \_____  \   
  \ \  \|\  \   \/  /  /     ___       \ \  \\  \\ \  \ \  \ \  \___|\ \  \ \  \ \  \ \  \       \ \  \    \ \  \ \  \_|\ \ \  \\ \  \ \  \_|\ \ /  /_/__\ \  \_|\ \|____|\  \  
   \ \_______\__/  / /      |\__\       \ \__\\ _\\ \__\ \__\ \__\    \ \__\ \__\ \__\ \__\       \ \__\    \ \__\ \_______\ \__\\ \__\ \_______\\________\ \_______\____\_\  \ 
    \|_______|\___/ /       \|__|        \|__|\|__|\|__|\|__|\|__|     \|__|\|__|\|__|\|__|        \|__|     \|__|\|_______|\|__| \|__|\|_______|\|_______|\|_______|\_________\
             \|___|/                                                                                                                                                \|_________|
                                                                                                                                                                                
                                                                                                                                                                                

    </title>
</head>
<body>
    <h1>Welcome to my Exercices Site!</h1>
    <p>Choose one of the projects or exercices:</p>
    <button onclick="window.location.href='{% url 'band_name' %}'">Band Name Generator</button>
    <button onclick="window.location.href='{% url 'tip_calculator' %}'">Tip Calculator</button>
    <button onclick="window.location.href='{% url 'even_odd' %}'">Even Odd Check</button>
</body>
</html>
