<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock, Paper, Scissors</title>
</head>
<body>
    <h1>Rock, Paper, Scissors</h1>
    <form method="post">
        {% csrf_token %}
        <label for="player_hand">What do you choose? Type 0 for Rock, 1 for Paper, or 2 for Scissors:</label>
        <input type="text" id="player_hand" name="player_hand">
        <button type="submit">Check</button>
    </form>

    {% if error_message %}
        <p style="color: rgb(255, 0, 0);">{{ error_message }}</p>
    {% endif %}

    {% if result %}
    <h2>{{ result }}</h2>
    
    <p>You chose:</p>
    <pre>
        {% if player_hand == 0 %}
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)

        {% elif player_hand == 1 %}
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)

        {% elif player_hand == 2 %}
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

        {% endif %}
    </pre>

    <p>Computer chose:</p>
    <pre>
        {% if npc_hand == 0 %}
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)

        {% elif npc_hand == 1 %}
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)

        {% elif npc_hand == 2 %}
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

        {% endif %}
    </pre>
{% endif %}

    <a href="{% url 'home' %}">Go back to main page</a>
</body>
</html>